---
import PrisKort from "./PrisKort.astro";

const timespris = 1490;

const start = {
  navn: "Start",
  timer: 6,
  prisBedrift: "8.500",
  prisPrivat: "10.625",
  prosentRabatt: 5,
  rabattBedrift: "440",
  rabattPrivat: "440",
  kunKontakt: false,
};

const grow = {
  navn: "Grow",
  timer: 10,
  prisBedrift: "13.500",
  prisPrivat: "16.875",
  prosentRabatt: 10,
  rabattBedrift: "1.400",
  rabattPrivat: "1.400",
  kunKontakt: false,
};

const scale = {
  navn: "Scale",
  timer: 18,
  prisBedrift: "22.800",
  prisPrivat: "28.500",
  prosentRabatt: 15,
  rabattBedrift: "4.020",
  rabattPrivat: "4.020",
  kunKontakt: false,
};

const enterprise = {
  navn: "Enterprise",
  timer: null,
  prisBedrift: null,
  prisPrivat: null,
  prosentRabatt: null,
  rabattBedrift: null,
  rabattPrivat: null,
  kunKontakt: true,
};

const retainerPakker = [start, grow, scale, enterprise];
---

<div class="retainer-pakker-container">
  {
    retainerPakker.map((pkg) => (
      <PrisKort
        navn={pkg.navn}
        timer={pkg.timer}
        prisBedrift={pkg.prisBedrift}
        prisPrivat={pkg.prisPrivat}
        prosentRabatt={pkg.prosentRabatt}
        rabattBedrift={pkg.rabattBedrift}
        rabattPrivat={pkg.rabattPrivat}
        kunKontakt={pkg.kunKontakt}
      />
    ))
  }
</div>
